:root {
  --color-default: #364d59;
  --color-primary: #feb900;
  --color-secondary: #8b909b;
}

* {
  font-family: "Roboto", sans-serif;
}

section {
  padding: 80px 0;
}

#home {
  padding: 0;
}

/* HOME */

.dot {
  color: var(--color-primary);
}

.padding {
  padding: 25px 90px;
}

.dropdown-item {
  color: black !important;
}

.image {
  filter: brightness(0.3);
}

.navbar {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.navbar-brand {
  color: white !important;
  font-size: 24px;
  font-weight: bold;
}

.nav-link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.nav-top::after {
  content: "";
  display: block;
  background-color: var(--color-primary);
  height: 2px;
  width: 0%;
  transition: 0.5s;
}

.nav-top:hover::after {
  width: 100%;
}

.nav-top a {
  color: var(--color-secondary);
}

.nav-top a:hover {
  color: white;
}

.nav-active.nav-top::after {
  width: 100%;
}

.nav-active a {
  color: white !important;
}

.container-fluid {
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
}

.low-bright {
  filter: brightness(0.2);
}

.title-home {
  font-size: 56px;
  font-weight: 700;
  color: white;
}

.description-home {
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin-top: 30px;
  margin-bottom: 50px;
}

.carousel-item img {
  min-height: 100vh;
}

.title-home::after {
  content: "";
  background-color: var(--color-primary);
  width: 15%;
  height: 4px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
}

.btn-start {
  color: white;
  border: 2px solid var(--color-primary);
  padding: 12px 40px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.5s;
}

.btn-start:hover {
  background: var(--color-primary);
  color: white;
}

/* FORM */

#form {
  background-color: #f5f6f7;
  height: 80%;
}

.card-form {
  background-color: #ffffff;
}

.text-form {
  font-weight: bold;
  font-size: 36px;
}

.text-form::after {
  content: "";
  position: absolute;
  display: block;
  width: 5%;
  height: 4px;
  background-color: var(--color-primary);
  margin: auto;
  margin-top: 20px;
}

.text-form1 {
  font-weight: lighter;
  font-size: 14px;
  margin-top: 40px;
}

.text-form2 {
  font-weight: lighter;
  font-size: 14px;
  margin-top: 20px;
}

.card-form {
  padding: 5%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.custom-textarea {
  resize: none;
}

.btn-qoute {
  color: white;
  padding: 10px 30px;
  background: var(--color-primary);
  border: 0;
  transition: 0.4s;
  border-radius: 4px;
}

/* CONSTRUCTION */

.text-construction::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 2px;
  background-color: var(--color-primary);
  position: relative;
  bottom: 10px;
  right: 10px;
}

.text-construction::after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 2px;
  background-color: var(--color-primary);
  margin-bottom: 9px;
  margin-left: 10px;
}

.card-box {
  display: flex;
  width: 600px;
  height: 303px;
  border: #dde2ea solid;
}

.card-box img {
  width: 230px;
  height: 300px;
  object-fit: cover;
}

.text-card {
  padding: 50px;
}

/*  SERVICES */

#service {
  background-color: #f5f6f7;
}

.title-services::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 2px;
  background-color: var(--color-primary);
  margin-bottom: 9px;
  margin-right: 10px;
}

.title-services::after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 2px;
  background-color: var(--color-primary);
  margin-bottom: 9px;
  margin-left: 10px;
}

.card-service {
  width: 400px;
  height: 400px;
  text-decoration: none;
  color: var(--color-secondary);
}

.icon-card::before {
  content: "";
  display: inline-block;
  width: 55px;
  height: 55px;
  background-color: #58707e52;
  border-radius: 100%;
  position: absolute;
  margin-left: 15px;
  margin-top: -5px;
  transition: 0.3s;
}

.title-service {
  width: fit-content;
  color: var(--color-default);
  font-weight: 700;
}

.title-service::after {
  content: "";
  background-color: #58707e52;
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  margin-top: 20px;
  transition: 0.3s;
}

.icon-card i {
  font-size: 45px;
  font-weight: 600;
  color: var(--color-default);
  position: relative;
  z-index: 1;
}

.text-learn {
  color: var(--color-primary);
  font-size: 14px;
}

.card-service:hover .icon-card::before {
  background-color: rgb(255, 183, 0) !important;
}

.card-service:hover .title-service::after {
  background-color: rgb(255, 183, 0) !important;
}

/* TAB SERVICE */

.btn-tab {
  border: none;
  border-radius: 0 !important;
}

.btn-link {
  color: var(--color-default) !important;
  width: 100%;
  font-weight: bold !important;
  font-size: 19px !important;
}

.btn-link:hover,
.active.btn-link {
  color: var(--color-primary) !important;
}

.btn-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-secondary);
  margin-top: 10px;
  transition: 0.3s;
}

.btn-link.active.btn-link::after {
  background-color: var(--color-primary);
}

.desc-feature {
  font-size: 19px;
  color: var(--color-secondary);
  font-style: italic;
}

.list-feature {
  list-style: none;
  color: var(--color-secondary);
  font-size: 18px;
}

.list-feature li {
  margin-bottom: 20px;
}

.list-active {
  color: var(--color-primary);
}

.tab-box,
.image-card {
  position: relative;
  overflow: hidden;
}

.tab-img,
.img-card {
  transition: 0.3s;
}

.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: black;
  transition: opacity 0.4s;
}

.content-text {
  position: absolute;
  bottom: 2px;
  color: white;
  font-size: 16px;
}

.tab-box:hover .tab-img,
.card:hover .img-card {
  transform: scale(1.2);
}

.tab-box:hover .content-overlay {
  opacity: 0.8;
  cursor: pointer;
}

.icon-content i {
  font-size: 20px;
  color: white;
}

.content-icon {
  top: 65px;
  left: 58%;
  transform: translate(-50%, -50%);
}

.content-label {
  width: max-content;
  top: 10px;
  left: 20px;
}

.text-label-tabs {
  padding: 4px 7px;
  font-size: 14px;
}

/*  OUR BLOG POSTS */

.title-blog::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 2px;
  background-color: var(--color-primary);
  margin-bottom: 9px;
  margin-right: 10px;
}

.title-blog::after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 2px;
  background-color: var(--color-primary);
  margin-bottom: 9px;
  margin-left: 10px;
}

.card-service:hover {
  color: var(--color-secondary);
}

.card-title {
  color: var(--color-default);
}

.card-text {
  color: var(--color-default);
  font-size: 20px;
}

.card-text i {
  color: var(--color-primary);
}

.card-footer-project {
  color: var(--color-default);
  font-size: 18px;
}

.card:hover .card-title {
  color: var(--color-primary);
}

.card:hover .card-footer-project {
  color: var(--color-primary);
}

/* FOOTER */

.footer::before {
  content: "";
  background: rgb(0, 0, 0, 0.8);
  position: absolute;
  inset: 0;
}

::after::before {
  box-sizing: border-box;
}

.footer {
  color: white;
  background: url("https://bootstrapmade.com/demo/templates/UpConstruction/assets/img/footer-bg.jpg");
  background-size: cover;
  padding: 80px 0 60px 0;
  font-size: 14px;
  display: block;
  position: relative;
}

.social-links {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  line-height: 1;
  margin-right: 8px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.link-footer {
  font-size: 14px;
  color: rgb(206, 201, 201);
  font-weight: 400;
}

.link a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 4px;
  padding: 10px;
  transition: 0.3s;
  text-decoration: none;
}

.nav-use a {
  color: var(--color-secondary);
  transition: 0.3s;
}

.by {
  text-decoration: none;
  color: var(--color-primary);
}
